page-ocorrencia {

  #map {
      height: 320px;
      width: 100%;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #222;
  }
  .toolbar-title-md {
    color: #FFFFFF;
  }
  .button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #990000;
  }

  .button-md:hover:not(.disable-hover) {
    background-color: #990000;
  }

  .button-md.activated {
    background-color: #990000;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21), 0 0 0 0 transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21), 0 0 0 0 transparent;
  }

}


