page-register {
    .nome-container{
        position: absolute;
        z-index: 2;
        top:0;
        width: 100%;
        margin: 0 auto;
        padding: 10vw;
        text-align: center;
        color:#ffff;
    }
    .title-image {
        margin-top: 8px;
        height: 27px;
            text-align:center
    }
    ion-icon {
        font-size: 75px;
    }
    .error {
        color: darkred;
    }

};