<ion-header>
  
    <ion-navbar padding class="toolbar-background" color="dark">
      <ion-title>LOGIN</ion-title>
    </ion-navbar>
</ion-header>

<ion-content  class= "bg-image" padding>
    
    <div padding style="padding-top: 35%;">
      
        <ion-row>
          <ion-img class="logo" src="../assets/img/Logo.png"></ion-img>
        </ion-row>
        <form [formGroup]="userForm" novalidate>
          <ion-row>
            <ion-col>
              <ion-list  inset class="no-border">
                <ion-item class="input">
                  <ion-label color="primary" stacked></ion-label>
                  <ion-input class="input-style" type="email" [(ngModel)]="email" formControlName="email" placeholder="Email"></ion-input>
                </ion-item>
                <span padding *ngIf="!userForm.controls.email.valid && (!userForm.controls.email.pristine || userForm.controls.email.dirty)"
                  class="error">Email ou Senha estão incorretos</span>
                <p></p>
                <ion-item>
                  <ion-label color="primary" stacked></ion-label>
                  <ion-input type="password" [(ngModel)]="password" formControlName="password" placeholder="Password"></ion-input>
                </ion-item>
                <span padding *ngIf="!userForm.controls.password.valid && (!userForm.controls.password.pristine || userForm.controls.password.dirty)"
                  class="error">Email ou Senha estão incorretos</span>
              </ion-list>
            </ion-col>
          </ion-row>
        </form>
        <ion-row style="padding-bottom: 15px">
          <ion-col>
            <button ion-button class="login-button" (click)="login()" color="dark">Login</button>
            <div class="strike" style="padding: 15px 15px">
              <span>Ou</span>
            </div>
            <button ion-button block clear class="login-button-face" (click)="login()" color="light" style="background-color: #3B5998">
              <ion-icon name="logo-facebook" style="padding: 15px 15px">
              </ion-icon> Entrar com Facebook
            </button>
            <button ion-button block clear class="login-button-google" (click)="login()" color="light" style="background-color: #D84B37">
              <ion-icon name="logo-google" style="padding: 25px 20px">
              </ion-icon> Entrar com Google
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="padding-bottom: 20px" (click)="goToRegisterPage()">
              <span>Não possui uma conta?</span><span class= cor-cadastro> Cadastre-se agora.</span>
            </div>
          </ion-col>
        </ion-row>
    </div> 
</ion-content>
