

<ion-content  class= "bg-image no-scroll" padding>

  <div padding style="padding-top: 5%;">

    <ion-row>
      <ion-img class="logo" src="../assets/img/logo-sisi.png"></ion-img>
    </ion-row>
    <ion-row>
      <ion-img class="logo2" src="../assets/imgs/sisi-verdana.png"></ion-img>
    </ion-row>
    <ion-row>
      <ion-img class="logo3" src="../assets/imgs/sisi-completo.png"></ion-img>
    </ion-row>
      <form class="inputs" [formGroup]="userForm" novalidate>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="input">
              <ion-label class="label"></ion-label>
              <ion-input class="login-input" type="email" [(ngModel)]="email" formControlName="email" placeholder="Email"></ion-input>
            </ion-item>
            <span padding *ngIf="!userForm.controls.email.valid && (!userForm.controls.email.pristine || userForm.controls.email.dirty)"
              class="error">Email ou Senha estão incorretos</span>
            <ion-item>
              <ion-label color="primary"></ion-label>
              <ion-input class="login-input" type="password" [(ngModel)]="password" formControlName="password" placeholder="Senha"></ion-input>
            </ion-item>
            <span padding *ngIf="!userForm.controls.password.valid && (!userForm.controls.password.pristine || userForm.controls.password.dirty)"
              class="error">Email ou Senha estão incorretos</span>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
    <ion-row style="padding-bottom: 5px">
      <ion-col>
        <button ion-button class="login-button" (click)="login()" color="dark">Entrar</button>
 <!--    <div class="strike" style="padding: 15px 15px">
          <span>Ou</span>
        </div>
        <button ion-button block clear class="login-button-face" (click)="login()" color="light" style="background-color: #3B5998">
          <ion-icon name="logo-facebook" style="padding: 15px 15px">
          </ion-icon> Entrar com Facebook
        </button>
        <button ion-button block clear class="login-button-google" (click)="login()" color="light" style="background-color: #D84B37">
          <ion-icon name="logo-google" style="padding: 25px 20px">
          </ion-icon> Entrar com Google
        </button>
-->   </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="padding-bottom: 20px" (click)="goToRegisterPage()">
          <span class= cor-cadastro> Cadastre-se.</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
